.containertop
{
  display: grid;
  grid-template-columns: 1fr;
  background-color: rgba(5, 5, 151, 0.905);
  padding: 10px 10px 10px 10px;
  border: 1px solid white;
}
.item{
  width: 100px;
  grid-column-start: 1;
}
img
{
  align-items: flex-start;
  height: 80px;
  width: 80px;
}

.item1
{

  color: rgb(242, 239, 239);
  font-size: 40px;
  
  text-align: center;

}

.item2
{
  grid-column-start: 1;
  text-align: right;
  color: rgb(253, 247, 247);
  padding: 5px 5px 5px 5px;
  /* background-color: rgb(243, 60, 60); */
  width: 100px;

}
.item3
{
  grid-column-start: 1;
  color: white;
  padding: 10px 10px 10px 10px;
}
li
{
  color: brown;
}
a
{
  color: white;
  text-decoration: solid;
  font-style: italic;
}

@media (min-width: 1280px) {
  .navbar {
    padding: 0;
  }

  .navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
  }

  .navbar li {
    position: relative;
  }

  .navbar a,
  .navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0 10px 30px;
    font-family: var(--font-primary);
    font-size: 16px;
    font-weight: 400;
    color: white;
    white-space: nowrap;
    transition: 0.3s;
  }

  .navbar a i,
  .navbar a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
  }

  .navbar a:hover,
  .navbar .active,
  .navbar .active:focus,
  .navbar li:hover>a {
    color: #fff;
  }


  .navbar .dropdown ul {
    display: block;
    position: absolute;
    left: 14px;
    top: calc(100% + 30px);
    margin: 0;
    padding: 10px 0;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    background: #5c09f7e6;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    transition: 0.3s;
    border-radius: 4px;
  }

  .navbar .dropdown ul li {
    min-width: 200px;
  }

  .navbar .dropdown ul a {
    padding: 10px 20px;
    font-size: 15px;
    text-transform: none;
    font-weight: 400;
    color: var(--color-secondary);
  }

  .navbar .dropdown ul a i {
    font-size: 12px;
  }

  .navbar .dropdown ul a:hover,
  .navbar .dropdown ul .active:hover,
  .navbar .dropdown ul li:hover>a {
    color: var(--color-primary);
  }

  .navbar .dropdown:hover>ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
  }

  .navbar .dropdown .dropdown ul {
    top: 0;
    left: calc(100% - 30px);
    visibility: hidden;
  }

  .navbar .dropdown .dropdown:hover>ul {
    opacity: 1;
    top: 0;
    left: 100%;
    visibility: visible;
  }
}

@media (min-width: 1280px) and (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }

  .navbar .dropdown .dropdown:hover>ul {
    left: -100%;
  }
}

@media (min-width: 1280px) {

  .mobile-nav-show,
  .mobile-nav-hide {
    display: none;
  }
}



/* about desing */
.container
{
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: rgba(2, 2, 119, 0.9);
  padding: 20px 20px 20px 20px;
  border: 2px solid black;
  

}
.a1
{

  font-size: 0.5rem;
  color: rgb(232, 212, 212);
}
.a2
{
  font-size: 15px;
  text-align: justify;
  color: white;
}

.containerabout
{
  display: grid;
  border: 1px solid black;
  padding: 10px 10px 10px 10px;
}